/.settings
/.vscode
/.idea
/composer.env
/magento
/mysql/data/*
/mysql/log/*
/composer/cache/*
!*.gitkeep
/newrelic/newrelic.ini
/composer/auth\.json
/deploy.lock
/git/config
/git/description
/git/HEAD
/git/index
/git/info
/git/logs/HEAD
/git/README.md
/git/objects
/git/ORIG_HEAD
/git/hooks/*
!/git/hooks/post-receive
/git/refs
/checkout/*
!/checkout/.gitkeep
/elasticsearchdata/*
!/elasticsearchdata/.gitkeep
/*.sql
/*.tar.gz
/docker-compose.yml